# Python
__pycache__/
*.pyc

# 虚拟环境
venv/
.env
.venv

# 数据
chroma_db/
chroma_memory_db/
models_cache/
data/
logs/
test_scripts
*.log
tmp/

# Evaluation 运行时生成报告
evaluation/reports/

# IDE
.idea/
.vscode/

*.md

*.sqlite3
*.bin
